*.~1*
*.c~
*.o
*.a
*.pc
src/RNAlila/*.o
src/RNAlila/*.a
src/RNAlila/*.c~
src/RNAlila/*.h~
src/bin/RNAwalk_cmdl.c
src/bin/RNAwalk_cmdl.h
src/bin/*#
a.out
.deps/
Makefile
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
config/
configure
stamp-h1
Makefile.in
config.h.in
src/Makefile.in
src/RNAlila/Makefile.in
mysort.c
